.fixed-banner {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.fixed-banner img {
    height: 40px;
    object-fit: cover;
    margin: 0px 50px;
}

.fixed-banner .right-image:hover {
    cursor: pointer;
}