
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    gap: 10px;
    top: 0;
    right: -20%;
    width: 20%;
    height: 100%;
    padding-top: 30px;
    background-color: white;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1001;
    overflow-y: auto;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
}

.sidebar .logo-sidebar {
    width: 40%;
}

#qipm {
    font-size: 30px;
    font-weight: bold;
}

.chunkyBtn {
    --btn-color: #213c7a;
    --btn-bg: rgb(224, 235, 242);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 90%;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    padding: 8px 20px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    border: 2px solid var(--btn-color);
    transition: 100ms ease;
    box-shadow: 3px 3px 0 0 var(--btn-color);
}

.chunkyBtn:hover {
    box-shadow: 1px 1px 0 0 var(--btn-color);
}

.noselect {
    margin-top: 50%;
    width: 110px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #3a5baa;
}

.noselect,
.noselect span {
    transition: 400ms;
}

.noselect .text {
    transform: translateX(15px);
    color: white;
    font-weight: bold;
}

.noselect .icon {
    position: absolute;
    border-left: 1px solid #3a5baa;
    transform: translateX(70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.noselect svg {
    width: 15px;
    fill: #eee;
}

.noselect:hover {
    background: #213c7a;
}

.noselect:hover .text {
    color: transparent;
}

.noselect:hover .icon {
    width: 100px;
    border-left: none;
    transform: translateX(0);
    transition: transform 0.4s ease;
}

.noselect:focus {
    outline: none;
}

.noselect:active .icon svg {
    transform: scale(0.4);
}

@media all and (max-width: 768px) {
    .sidebar {
        right: -60%;
        width: 60%;
        gap: 30px;
    }
    .chunkyBtn {
        font-size: 1.5rem;
    }

    .noselect {
        width: 50%;
        height: 40px;
    }

    .noselect .text {
        font-size: 1.3rem;
        font-weight: 400;
    }

    .noselect svg {
        display: none;
    }
}